*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.uppercase {
    text-transform: uppercase;
}
html {
    height: 100%;
    width: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: "STXihei";
    line-height: 1.3;
}

/*font-family: 'Qwitcher Grypen', cursive;
font-family: 'Roboto', sans-serif;*/

.navigation {
    display: flex;
    width: 100%;
}
.navigation a {
    margin-top: 4%;
    flex: auto;
    text-align: center;
    text-decoration: none;
    color: white;
}

.about-button {
    margin-top: 30%;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 2px solid black;
}

.button {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 2px solid white;
}

.header_highest {
    color:white;
    background-image: url("mountain3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;

}

.video-start img:hover{
    width: 60%;
    transition: 1s;
}
.video-start img {
    width: 50%;
    display: block;
    margin-top: 3rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
    cursor: zoom-in;
    
}

.additional-information {
    display: flex;
    flex-direction: column;
    margin-top: 60%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;

}

.additional-information p {
    text-align: left;

}

.heading-section {
    margin-top: 10%;
    margin-left: 10%;

}

.about-us {
    height: 100%;
    width: 100%;
    background-image: url(mountain-section2-ready.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.default-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
    align-items:center ;
    margin: 1em;
}

/*Section2*/

.section-2 {
    display: flex;
    width: 100%;
    height: 50%;
    background-image: url(skiready.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item2 {
    color: white;
    
}

.abc {
    padding: 5%;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    text-align: center;
}

.abc:hover {
    color:rgb(136, 136, 136);
    transition: 1s;
}

.item1 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    color: white;
    text-align: left;
}

.section-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    background-image: url(ready_mobile.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-3-content {
    margin: 10%;
    text-align: center;
}

.content-items {
    margin: 20%;
    color: white;
}

.con-items3 * {
     margin: 10%; 
}

.button-sec-3 {
    padding: .5rem;
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

.section-4 {
    width: 100%;
    height: 100%;
    background-image: url(mountain_background_white.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 6%;
    color: rgb(6, 55, 135);
}

.brochure {
    text-decoration: none;
    padding: .7rem;
    border: 2px solid rgb(6, 55, 135);
    color: rgb(6, 55, 135);
}

.icon {
    width: 30%;
    transition: 1s;
    cursor: zoom-in;
}

.icon:hover {
    width: 40%;
    transition: 1s;
}
/*yes*/
@media (min-width:440px) {
    :root {
      font-size: 1.5em;
    }
  }
@media (min-width:600px) {
    :root {
      font-size: 2em;
    }
  }
@media (min-width:769px) {
    :root {
      font-size: 2.5em;
    }
  }
@media (min-width:1200px) {
    :root {
      font-size: 3em;
    }
  }